@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

h1, h2, h3 {
    font-family: 'Italiana', serif;
}
body {
    font-family:  sans-serif;
    margin: 0rem 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img {
    width: 200px;
    margin: 1rem;
}
nav ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 40px;
}
nav ul li a:hover {
    background-color: #81b673;
    color: #eee;
    padding: 1rem;
}
nav ul li.active a {
    color: #D65250 ;
}
nav ul {display:none;}
nav ul.open {display:block;}
#hamburgerBtn {
    border: none;
    width: 100%;
    font-size: 100px;
    background-color: transparent;
}
#hamburgerBtn span:nth-child(1) {display:block}
#hamburgerBtn span:nth-child(2) {display:none}

#hamburgerBtn.open span:nth-child(1) {display:none}
#hamburgerBtn.open span:nth-child(2) {display:block}


#cta {
    padding: 0;
    position: relative;
}

.cta button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #81b673;
    padding: .5em;
    border-radius: 15px;
    border-color: #81b673;
}
.cta h1 {
    position: absolute;
    margin: 0;
    top: 5%;
    left: 5%;
    text-shadow: 2px 2px #4b4b4b;
    font-size:50px;
    color: white;
}
.infoCard img {display: none;}
div .infoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid #333;
}
.oranges {
    display: none;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}
.weather figure img {
    width: 10rem;
}
.daily {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.daily div {
    width: 120px;
    text-align: center;
    border: 1px solid black;
}

.h3location {
    background-color: #D65250;
    padding: 1rem;
}
.locations {
    text-align: center;
    margin: 2rem;
}
.locations section { 
    margin: 1rem;
    padding: 1rem;
    margin-top: 4rem;
}
.locations section:hover {
    background-color: #D65250;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.locations img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7DDC7;
}
footer img {
    height: 100px;
}

/* fresh */
#freshBanner {
    padding: 0;
    position: relative;
}

.freshBanner h1 {
    position: absolute;
    margin: 0;
    Top: 55%;
    left: 30%;
    text-shadow: 2px 2px #4b4b4b;
    font-size:50px;
    color: white;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 1rem;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
}
.contactForm input, textarea {
    width: 80%;
}


iframe {
    width: 100%;
}