@media only screen and (min-width: 64rem) {

    h1 {
        font-size: 30px;
    }
    .locations {
        display: flex;
        flex-direction: row;
    }
    .locations section {
        display: flex;
        flex-direction: column;
    }
   .cta img {
    width: 1500px;
   }
   .infoCard img {
    height: 500px;
   }
   .cta button {
    width: 300px;
    }
    .allWeather {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        font-size: 25px;
    }
    .oranges {
        display: block;
        height: 36rem;
    }
    
    .midfoot {
        gap: 10rem;
    }

    .freshBanner h1 {
        font-size: 150px;
        left: 40%;
        
    }

    .locations section { 
        margin-top: 1rem;
    }

    
}