@media only screen and (min-width: 35rem){
    header {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    nav button {display:none;}
    nav ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        list-style-type: none;
        padding:0;
        margin: 0;
    }
    nav ul li {
        padding: 2rem;
    }
    .indexTop {
        display: flex;
        flex-direction: row;
    }
    .infoCard{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .infoCard img {
        display: block;
        height: 300px;
    }
    .allWeather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        font-size: larger;
    }
    .daily {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .daily div {
        width: 25rem;
    }

    .medTop{
        display: flex;
        flex-direction: row;
    }
    .medBot {
        display: flex;
        flex-direction: row;
    }
    .locations section {
        display: flex;
        flex-direction: column;
    }
     .locations img {
        width: 150 px;
        height: 150 px;
     }

    .midfoot {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
    .social {
        align-items: center;
        justify-content: center;
    }

    .freshBanner h1 {
        font-size: 100px;
        top: 30%;
    }

}